HELP.md

### Maven ###
target/

# Optional wrapper JAR
# .mvn/wrapper/maven-wrapper.jar

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Node / Tailwind ###
frontend/node_modules/
frontend/.npm/
frontend/.turbo/
frontend/.next/
frontend/dist/
frontend/build/

# OS junk
*.tmp
*.swp
*.DS_Store